body {
    font-family: Comic Sans MS, Comic Sans, cursive;
    text-align:left;
    font-weight:100;
    margin-top: 20px;
    background: linear-gradient(90deg, #7ec0e9 0%, #97dfed 100%);
    font-size: 15px;
    color: rgb(24, 24, 24)
}