body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:left;
    font-weight:100;
    margin-top: 20px;
    background: linear-gradient(90deg, #e77887 0%, #ecd186 100%);
    font-size: 20px;
    color: rgb(24, 24, 24)
}