
  body {
    width: 100%;
    min-height: 50vh;
    background: linear-gradient(90deg, #cb40e6 0%, #d944b4 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: rgb(255, 255, 255);
  }
 
  .button {
   padding: 10px;
  }
  
  .container {
  background-color: rgba(104, 97, 230, 0.481);
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 500px;
  height: 350px;
  max-width: 100%;
}
  
 